body{
	margin: 0px;
	background-image: url("suporte.jpg");
	background-repeat: no-repeat;
}

#menu{
	margin: 0px;
	line-height: 40px
	

}

#menu ul{
	
	background-color: black;
	list-style: none;
	margin: 0px;
	
}

#menu ul li{
	display: inline;

}


#menu ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	color: #c8aa6e;
	border-bottom: 3px solid transparent;

}

#menu #familia :hover{
	color: #f1e6d0;
	
}

#menu #eu :hover{
	color: #f1e6d0;

}

#menu #eu{
	color: #fff;
	border-color: #c8aa6e;
}

#top{
	
	margin: 0px;
	width: 100%;
	height: 973px;
}

#dentro{
	margin-left: 10%;
	color: #a9c8f9;
	width: 40%;
	font-size: 25px;
	text-shadow: 2px 2px 6px #7B40C4;

}

#dentro p{
	
	font-family: CHARLESWORTH;
	font-style: oblique;
}

#thresh{
	border-top: 5px solid black;
	background-image: url("thresh.jpg");
	background-repeat: no-repeat;
	background-color: black;
}

#sobrethresh{
	width: 40%;
	color: #89b2f9;
	text-shadow: 2px 2px 6px #7B40C4;
	font-size: 25px;
	padding: 10px;
	padding-left: 70px;
	float: left;

}


#threshpng{
	width: 40%;
	float: left;
	margin-top: 200px;
	margin-left: 100px;
	transition: all .2s ease-in-out;
}

#threshpng :hover{
	transform: scale(1.1);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


#sobrethresh p{
	padding-top: 20px;
	font-family: CHARLESWORTH;
	font-style: oblique;
}


#habilityt{
	clear: both;
	margin: 10px;
	margin-top: 50px; 
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	padding-left: 20px;
}

#primeirat{
	margin: 0px;
	border:1px solid gray;


}

#imgthresh{
	float: left;
	margin: 10px;

}

#nomepasst{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrepasst{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidpasst{
	margin-top: -100px;
	text-align: center;
}
	
#segundat{
	margin: 0px;
	border: 1px solid gray;


}
#qthreshimg{
	float: left;
	margin: 10px;
}

#nomeqt{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobreqt{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidqt{
	margin-top: -100px;
	text-align: center;
}

#terceirat{
	margin: 0px;
	border: 1px solid gray;


}
#wthreshimg{
	float: left;
	margin: 10px;
}

#nomewt{
	color: #2b2b2b;
	text-shadow: 2px 2px 3px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrewt{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidwt{
	margin-top: -100px;
	text-align: center;
}

#quartat{
	margin: 0px;
	border: 1px solid gray;


}
#ethreshimg{
	float: left;
	margin: 10px;
}

#nomeEt{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobreEt{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#videt{
	margin-top: -100px;
	text-align: center;
}

#quintat{
	margin: 0px;
	border: 1px solid gray;


}

#rthreshimg{
	float: left;
	margin: 10px;
}

#nomert{
	color: #2b2b2b;
	text-shadow: 2px 2px 3px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrert{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidrt{
	margin-top: -100px;
	text-align: center;
}

#nami{
	
	background-image: url("nami.jpeg");
	background-repeat: no-repeat;

}

#namiimg{
	margin-top: 240px;
	margin-left: 110px;
	width: 40%;
	transition: all .2s ease-in-out;
	float: left;
	
}

#namiimg :hover{

	transform: scale(1.1);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#sobrenami{
	width: 40%;
	color: #89b2f9;
	text-shadow: 2px 2px 6px #7B40C4;
	font-size: 25px;
	padding: 10px;
	padding-left: 100px;
	float: left;

}

#sobrenami p{
	padding-top: 20px;
	font-family: CHARLESWORTH;
	font-style: oblique;

}

#habilityn{
	clear: both;
	margin: 10px;
	margin-top: 50px; 
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	padding-left: 20px;
}



#primeiran{
	margin: 0px;
	border:1px solid gray;


}

#imgnami{
	float: left;
	margin: 10px;

}

#nomepassn{
	color: #2b2b2b;
	text-shadow: 2px 2px 3px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrepassn{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidpassn{
	margin-top: -100px;
	text-align: center;
}
	
#segundan{
	margin: 0px;
	border: 1px solid gray;


}
#qnamiimg{
	float: left;
	margin: 10px;
}

#nomeqn{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobreqn{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidqn{
	margin-top: -100px;
	text-align: center;
}

#terceiran{
	margin: 0px;
	border: 1px solid gray;


}
#wnamiimg{
	float: left;
	margin: 10px;
}

#nomewn{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrewn{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidwn{
	margin-top: -100px;
	text-align: center;
}

#quartan{
	margin: 0px;
	border: 1px solid gray;


}
#enamiimg{
	float: left;
	margin: 10px;
}

#nomeEn{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobreEn{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#viden{
	margin-top: -100px;
	text-align: center;
}

#quintan{
	margin: 0px;
	border: 1px solid gray;


}
#rnamiimg{
	float: left;
	margin: 10px;
}

#nomern{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrern{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidrn{
	margin-top: -100px;
	text-align: center;
}

#alistar{
	border-top: 1px solid transparent;
	background-image: url("alistar.jpg");
	background-repeat: no-repeat;
}

#sobrealistar{
	width: 40%;
	color: #89b2f9;
	text-shadow: 2px 2px 6px #7B40C4;
	font-size: 25px;
	padding: 10px;
	padding-left: 180px;
	float: left;

}


#alistarpng{
	width: 40%;
	float: left;
	margin-top: 170px;
	transition: all .2s ease-in-out;
}

#alistarpng :hover{
	transform: scale(1.1);
	-webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


#sobrealistar p{
	padding-top: 20px;
	font-family: CHARLESWORTH;
	font-style: oblique;
}


#habilitya{
	clear: both;
	margin: 10px;
	margin-top: 50px; 
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	padding-left: 20px;
}

#primeiraa{
	margin: 0px;
	border:1px solid gray;


}
#imgalistar{
	float: left;
	margin: 10px;

}

#nomepassa{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrepassa{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidpassa{
	margin-top: -100px;
	text-align: center;
}
	
#segundaa{
	margin: 0px;
	border: 1px solid gray;


}
#qalistarimg{
	float: left;
	margin: 10px;
}

#nomeqa{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobreqa{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidqa{
	margin-top: -100px;
	text-align: center;
}

#terceiraa{
	margin: 0px;
	border: 1px solid gray;


}
#walistarimg{
	float: left;
	margin: 10px;
}

#nomewa{
	color: #2b2b2b;
	text-shadow: 2px 2px 6px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrewa{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidwa{
	margin-top: -100px;
	text-align: center;
}

#quartaa{
	margin: 0px;
	border: 1px solid gray;


}
#ealistarimg{
	float: left;
	margin: 10px;
}

#nomeEa{
	color: #2b2b2b;
	text-shadow: 2px 2px 3px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobreEa{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 6px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#videa{
	margin-top: -100px;
	text-align: center;
}

#quintaa{
	margin: 0px;
	border: 1px solid gray;


}
#ralistarimg{
	float: left;
	margin: 10px;
}

#nomera{
	color: #2b2b2b;
	text-shadow: 2px 2px 3px black;
	font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#sobrera{
	width: 45%;
	color: white;
	text-shadow: 2px 2px 3px #7B40C4;
	clear: both;
	float: left;
	margin-left: 10px;
}

#vidra{
	margin-top: -100px;
	text-align: center;
}

#about{

	height: 400px;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 30px;
	

}

#about ul{

	list-style: none;
	padding: 10px;
}

#about ul li{

	display: inline;
}

#about ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 10px 10px;
	color: #f1e6d0;
	font-size: 10px;
}

#about #solo{
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #f1e6d0;

}

#about li :hover{
	color: cyan;
}


#todos{
	color: white;
}

#seguro{
	width: 30%;
	height: 280px;
	float: left;


}

#logo{

	width: 40%;
	float: left;
	
}



